<%- include('partials/header.ejs') -%>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
  <link rel="stylesheet" href="/admin/editProduct/style.css">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div class="d-flex flex-column p-3 text-white vh-100 " style="width: 250px;">
          <ul class="nav nav-pills flex-column ">
            <li>
              <a href="/admin/dashboard" class="nav-link text-dark">
                <img class="idealLogo" src="/image/icons/idealLogo.svg" alt="iDeal Log">
              </a>
            </li>
          </ul>
          <p class="text-uppercase text-primary navMainHeading mt-3">Menu</p>
          <ul class="nav nav-pills flex-column ">
            <li class="nav-item">
              <a href="/admin/dashboard" class="nav-link text-dark">
                <i class="fas fa-th-large"></i> Dashboard
              </a>
            </li>
            <li>
              <a href="/admin/product" class="nav-link active">
                <i class="fas fa-box"></i> Products
              </a>
            </li>
            <li>
              <a href="/admin/orders" class="nav-link text-dark">
                <i class="fas fa-shopping-cart"></i> Orders
              </a>
            </li>
            <li>
              <a href="/admin/return" class="nav-link text-dark">
                <i class="fas fa-undo"></i> Returns
              </a>
            </li>
            <li>
              <a href="/admin/coupon" class="nav-link text-dark">
                <i class="fas fa-ticket-alt"></i> Coupon
              </a>
            </li>
            <li>
              <a href="/admin/banner" class="nav-link text-dark">
                <i class="fas fa-image"></i> Banner
              </a>
            </li>
            <li>
              <a href="/admin/transaction" class="nav-link text-dark">
                <i class="fas fa-exchange-alt"></i> Transaction
              </a>
            </li>
            <li>
              <a href="/admin/offer" class="nav-link text-dark">
                <i class="fas fa-tag"></i> Offer
              </a>
            </li>
            <li>
              <a href="/admin/sales" class="nav-link text-dark">
                <i class="fas fa-money-bill-wave"></i> Sales
              </a>
            </li>
          </ul>

          <p class="text-uppercase text-primary mt-4 mb-2 navMainHeading">User Management</p>
          <ul class="nav nav-pills flex-column ">
            <li>
              <a href="/admin/customers" class="nav-link text-dark">
                <i class="fas fa-users"></i> Customers
              </a>
            </li>
          </ul>
        </div>

        <!-- Main Content -->
        <div class="col-md-10 p-4">
          <!-- Top Navbar -->
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Edit Product</h2>
            <div class="d-flex align-items-center">

              <!-- Admin Profile -->
              <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="adminDropdown" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <%= username %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                  <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/admin/dashboard" class="breadcrumb-item-style-atag">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/admin/product"
                    class="breadcrumb-item-style-atag">Product List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
              </ol>
            </nav>
          </div>

          <div class="container my-5">
            <form action="/admin/editProduct/<%= productDetails._id %>" method="post" enctype="multipart/form-data">
              <div class="row">
                <div class="col-lg-9">
                  <div class="card mb-4">

                    <div class="mb-3">
                      <label for="productName" class="form-label">Product Name</label>
                      <input type="text" class="form-control" id="productName" value="<%= productDetails.name %>">
                      <div class="error-message"></div>
                    </div>
                    <div class="mb-3">
                      <label for="productDescription" class="form-label">Description</label>
                      <textarea class="form-control" id="productDescription"
                        rows="3"><%= productDetails.description %></textarea>
                        <div class="error-message"></div>
                    </div>
                  </div>

                  <div class="card mb-4">
                    <h5>Media</h5>
                    <div class="uploaded-images">
                      <% productDetails.images.forEach((image, index)=> { %>
                        <div class="image-item">
                          <img src="<%= image %>" alt="Product Image <%= index + 1 %>" class="fixed-size">
                          <span class="delete-icon"
                            onclick="deleteImage('<%= productDetails._id %>',' <%= index %>')">&times;</span>
                        </div>
                        <% }); %>
                    </div>
                    <div class="add-image-box">
                      <h5>Add New Images</h5>
                      <div id="new-images">
                        <% for (let i=productDetails.images.length; i < 4; i++) { %>
                          <div>
                            <label for="image<%= i %>">Upload Image:</label>
                            <input class="form-control" type="file" id="image<%= i %>" name="images" accept="image/*"
                              onchange="viewImage(event, '<%= i %>')">

                            <!-- Image preview -->
                            <img id="imgView<%= i %>" class="img-view"
                              style="display: none; width: 100px; height: 150px; margin-top: 10px;">

                            <!-- Crop container -->
                            <div class="crop-container" style="display: none;">
                              <img id="croppedImg<%= i %>" class="cropped-img"
                                style="width: 100px; height: 100px; margin-top: 10px;">
                              <button id="saveButton<%= i %>" type="button" class="btn btn-primary">Save Cropped
                                Image</button>
                            </div>
                          </div>
                          <% } %>
                      </div>
                      <div class="error-message"></div>
                    </div>

                  </div>

                  <div class="card mb-4">
                    <h5>Pricing</h5>
                    <div class="mb-3">
                      <label for="basePrice" class="form-label"></label>
                      <input type="number" class="form-control" id="basePrice" placeholder="Type base price here..."
                        value="<%= productDetails.price %>" name="price" required>
                      <div class="error-message"></div>
                    </div>
                    <div class="mb-3">
                      <label for="discountPercentage" class="form-label">Discount Percentage (%)</label>
                      <input name="discount" type="number" class="form-control" id="discountPercentage"
                        placeholder="Type discount percentage..."
                        value="<%= ((productDetails.price-productDetails.Dprice)/productDetails.price)*100 %>" required>
                      <div class="error-message"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label for="productStorage" class="form-label">Storage</label>
                        <select class="form-select" id="storageStatus" name="storage" required>
                          <option value="" disabled selected></option>
                          <option value="64" <%=productDetails.storage=='64' ? 'selected' : '' %>>64 GB</option>
                          <option value="128" <%=productDetails.storage=='128' ? 'selected' : '' %>>128 GB</option>
                          <option value="256" <%=productDetails.storage=='256' ? 'selected' : '' %>>256 GB</option>
                          <option value="512" <%=productDetails.storage=='512' ? 'selected' : '' %>>512 GB</option>
                          <option value="10000" <%=productDetails.storage=='10000' ? 'selected' : '' %>>1 TB</option>
                        </select>
                        <div class="error-message"></div>
                      </div>
                      <div class="col-md-4">
                        <label for="productColor" class="form-label">Color</label>
                        <select class="form-select" id="colorStatus" name="color" required>
                          <option value="" disabled selected></option>
                          <option value="pink" <%=productDetails.color=='pink' ? 'selected' : '' %>>Pink</option>
                          <option value="yellow" <%=productDetails.color=='yellow' ? 'selected' : '' %>>Yellow</option>
                          <option value="green" <%=productDetails.color=='green' ? 'selected' : '' %>>Green</option>
                          <option value="blue" <%=productDetails.color=='blue' ? 'selected' : '' %>>Blue</option>
                          <option value="black" <%=productDetails.color=='black' ? 'selected' : '' %>>Black</option>
                          <option value="white" <%=productDetails.color=='white' ? 'selected' : '' %>>White</option>
                          <option value="titanium" <%=productDetails.color=='titanium' ? 'selected' : '' %>>Titanium
                          </option>
                          <option value="purple" <%=productDetails.color=='purple' ? 'selected' : '' %>>Purple</option>
                          <option value="midnight" <%=productDetails.color=='midnight' ? 'selected' : '' %>>Midnight
                          </option>
                          <option value="starlight" <%=productDetails.color=='starlight' ? 'selected' : '' %>>Starlight
                          </option>
                          <option value="red" <%=productDetails.color=='red' ? 'selected' : '' %>>Red (Product Red)
                          </option>
                          <option value="gold" <%=productDetails.color=='gold' ? 'selected' : '' %>>Gold</option>
                          <option value="spaceGray" <%=productDetails.color=='spaceGray' ? 'selected' : '' %>>Space Gray
                          </option>
                          <option value="jetBlack" <%=productDetails.color=='jetBlack' ? 'selected' : '' %>>Jet Black
                          </option>
                          <option value="alpineGreen" <%=productDetails.color=='alpineGreen' ? 'selected' : '' %>>Alpine
                            Green</option>
                          <option value="spaceBlue" <%=productDetails.color=='spaceBlue' ? 'selected' : '' %>>Space Blue
                          </option>
                          <option value="cosmicSilver" <%=productDetails.color=='cosmicSilver' ? 'selected' : '' %>
                            >Cosmic Silver</option>
                          <option value="starlightGold" <%=productDetails.color=='starlightGold' ? 'selected' : '' %>
                            >Starlight Gold</option>
                        </select>


                        <div class="error-message"></div>
                      </div>
                      <div class="col-md-4">
                        <label for="productQuantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="productQuantity" name="quantity"
                          value="<%= productDetails.stock %>" required>
                          <div class="error-message"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3">
                  <div class="card mb-4">
                    <div class="mb-3">
                      <label for="productCategory" class="form-label">Category</label>
                      <select class="form-select" name="category" id="productCategory" required>
                        <option value="" disabled selected></option>
                        <% categoryDetails.forEach((val, ind)=> { %>
                          <option value="<%= val.name %>" <%=val.name===productDetails.category.name ? 'selected' : ''
                            %>>
                            <%= val.name %> Series
                          </option>
                          <% }); %>
                      </select>
                      <div class="error-message"></div>
                    </div>

                    <div class="mb-3">
                      <label for="productStatus" class="form-label">condition</label>
                      <select class="form-select" id="productStatus" name="condition" required>
                        <option value="" disabled selected></option>
                        <option value="super" <%=productDetails.condition==='super' ? 'selected' : '' %>>Super</option>
                        <option value="good" <%=productDetails.condition==='good' ? 'selected' : '' %>>Good</option>
                        <option value="fair" <%=productDetails.condition==='fair' ? 'selected' : '' %>>Fair</option>
                      </select>

                      <div class="error-message"></div>
                    </div>
                    <div class="mb-3">
                      <label for="productStatus" class="form-label">Conectivity</label>
                      <select class="form-select" id="productStatus" name="connectivity" required>
                        <option value="" disabled selected></option>
                        <option value="4G" <%=productDetails.connectivity==='4G' ? 'selected' : '' %>>4G</option>
                        <option value="5G" <%=productDetails.connectivity==='5G' ? 'selected' : '' %>>5G</option>
                      </select>

                      <div class="error-message"></div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <button id="cancelbtn" class="btn btn-secondary w-45">Cancel</button>
                    <button type="button" id="submitButton" class="btn btn-primary w-45">Save Product</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    </div>
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">Confirm Submission</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to submit this form?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" id="confirmSubmit" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="/admin/editProduct/script.js"></script>

    <%- include('partials/footer.ejs') -%>